.page__home
    .hero
        display: none
    @include media-breakpoint-up(desktop)
        .block-chapter:nth-of-type(odd)
            .chapter
                flex-direction: row-reverse 
                justify-content: space-between
            figure
                margin-left: 0 !important
.hero 
    padding-bottom: 0
    .content + .breadcrumb-nav
        margin-top: $spacing2

@include media-breakpoint-up(desktop)
    .toc-title
        display: none