{{ $show_descriptions := .show_descriptions }}
{{ $show_images := .show_images }}

<div class="cards">
  {{ range .pages }}
    {{- $page := partial "GetPageByUrl" .page -}}
    {{ with $page }}
      <article class="card">
        <h2>
          <b>
          <a href="{{- .Permalink -}}">
            {{- partial "PrepareHTML" .Title -}}
          </a>
        </b>
        </h2>

        {{ if and $show_descriptions .Params.summary }}
          {{ if site.Params.pages.index.truncate_description }}
            <p>{{ partial "GetTruncateContent" ( dict 
              "text" .Params.summary
              "length" site.Params.pages.index.truncate_description
              ) }}</p>
          {{ else }}
            <p>{{ partial "PrepareText" .Params.summary }}</p>
          {{ end }}
        {{ end }}
        <button style="margin-top: 65px; width: 21.8vw; height: 60px; border: none; border-radius: 15px; background-color: #E79485; align-self:center">
          <h3><b>Regarder</b></h3>
        </button>

        {{ if $show_images }}
          {{- partial "pages/page-media.html" . -}}
        {{ end }}
      </article>
    {{- end -}}
  {{ end }}
</div>